:root {
  --dominantColor: #6d9276; /* var(--dominantColor) !important; */
  --secondaryColor: #926d89; /* var(--secondaryColor) !important; */
  --accentColor: #9c8563; /* var(--accentColor) !important; */
}
